.navbar .top-nav {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.25);
  position: fixed;
  top: 0;
  padding: 16px 0;
  width: 100vw;
  display: flex;
  z-index: 99;
}

.navbar .top-nav .home-logo {
  text-decoration: none;
  position: absolute;
  top: 33.75px;
  left: 32px;
}

.navbar .top-nav .home-logo .home-name {
  color: #b7b7a4;
  font-size: 1.5rem;
}

.navbar .top-nav .top-nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 16px 0;
}

.navbar .top-nav .top-nav-list li {
  margin: 0 16px;
}

.navbar .top-nav .top-nav-list li a {
  text-decoration: none;
}

.navbar .top-nav .top-nav-list li a .item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar .top-nav .top-nav-list li a .item-wrapper:hover .dot {
  background-color: #cb997e;
}

.navbar .top-nav .top-nav-list li a .item-wrapper .dot {
  border-radius: 50%;
  height: 0.4rem;
  width: 0.4rem;
  background-color: transparent;
  margin: 2px auto;
}

.navbar .top-nav .top-nav-list li a .item-wrapper .item-name {
  text-transform: uppercase;
  color: #a5a58d;
  font-size: 18px;
  font-weight: 600;
}

.navbar .top-nav .top-nav-list li a .item-wrapper .item-name.selected {
  color: #cb997e;
}

.navbar .side-nav .left-nav {
  height: 100vh;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: transparent;
}

.navbar .side-nav .left-nav a .socialMedia-link {
  border: 2px solid #b7b7a4;
  border-radius: 50%;
  height: 4rem;
  margin: 1rem 0;
  width: 4rem;
  overflow: hidden;
}

.navbar .side-nav .left-nav a .socialMedia-link img {
  width: 100%;
  height: 100%;
}

.navbar .side-nav .right-nav {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5rem;
  list-style: none;
  height: 100vh;
  z-index: 99;
  background-color: transparent;
}

.navbar .side-nav .right-nav .right-nav-list {
  list-style: none;
}

.navbar .side-nav .right-nav .right-nav-list li {
  margin: 0 16px;
}

.navbar .side-nav .right-nav .right-nav-list li a .right-nav-dot {
  background-color: #cbcbcb;
  border-radius: 50%;
  cursor: pointer;
  height: 1.5rem;
  margin: .5rem;
  width: 1.5rem;
}

.navbar .side-nav .right-nav .right-nav-list li a .right-nav-dot.selected {
  background-color: #cb997e;
}

.home-wrapper {
  padding-top: 6rem;
}

.home-wrapper .home {
  display: flex;
  justify-content: center;
  min-width: 65.5rem;
  height: 700px;
}

.home-wrapper .home .intro-wrapper {
  margin: 5rem 0;
}

.home-wrapper .home .intro-wrapper .intro .intro-top {
  background-color: #fff;
  border-radius: .9rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 2rem;
  display: flex;
}

.home-wrapper .home .intro-wrapper .intro .intro-top .hello {
  font-size: 2.5rem;
}

.home-wrapper .home .intro-wrapper .intro .intro-top .intro-detail {
  margin-left: 2rem;
}

.home-wrapper .home .intro-wrapper .intro .intro-top .intro-detail .detail-top {
  font-size: 0.8rem;
  line-height: 1.5;
  color: #ddbea9;
}

.home-wrapper .home .intro-wrapper .intro .intro-top .intro-detail .detail-bottom {
  font-size: 2.5rem;
  font-weight: bold;
  color: #cb997e;
}

.home-wrapper .home .intro-wrapper .intro .intro-bottom {
  color: #ddbea9;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  list-style: none;
  background-color: #fff;
  border-radius: .9rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 2rem;
}

.home-wrapper .home .intro-wrapper .intro .intro-bottom li {
  margin-top: 0.5rem;
}

.home-wrapper .home .portrait {
  position: relative;
  height: 100%;
}

.home-wrapper .home .portrait .portrait-img {
  position: absolute;
  top: 0;
  left: 1rem;
  width: 80%;
  z-index: 2;
  height: 100%;
  object-fit: contain;
}

.home-wrapper .home .portrait .portrait-bg {
  margin: 10rem 0 0 10rem;
  opacity: .3;
}

.home-wrapper .home .languages {
  margin-left: 1rem;
}

@keyframes langroll {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-wrapper .home .languages .lang-circle {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  height: 6.25rem;
  width: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: langroll 7s linear infinite;
}

.home-wrapper .home .languages .lang-circle img {
  width: 50%;
  height: 50%;
}

.about-wrapper {
  padding-top: 6rem;
}

.about-wrapper .about .about-content {
  margin: 0 7rem;
}

.about-wrapper .about .about-content .about-header {
  font-size: 2.75rem;
  font-weight: 800;
  line-height: 4.5rem;
  margin: 1rem 0 2rem;
  text-align: center;
  text-transform: capitalize;
}

.about-wrapper .about .about-content .about-header span {
  font-size: 2.75rem;
  font-weight: 800;
  line-height: 4.5rem;
  text-align: center;
  text-transform: capitalize;
  color: #b08968;
}

.about-wrapper .about .about-content .about-components {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-wrapper .about .about-content .about-components .about-item {
  margin: 1rem;
  min-width: 10.5rem;
  flex: 0 0 25%;
  text-align: center;
}

.about-wrapper .about .about-content .about-components .about-item .about-img {
  border-radius: .5rem;
  height: 50%;
  width: 100%;
}

.about-wrapper .about .about-content .about-components .about-item .about-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
}

.about-wrapper .about .about-content .about-components .about-item .about-desc {
  margin: 1rem 0;
}

.work-wrapper {
  padding-top: 6rem;
}

.work-wrapper .work .work-header {
  font-size: 2.75rem;
  font-weight: 800;
  line-height: 4.5rem;
  margin: 1rem 0 2rem;
  text-align: center;
  text-transform: capitalize;
}

.work-wrapper .work .work-header span {
  font-size: 2.75rem;
  font-weight: 800;
  line-height: 4.5rem;
  text-align: center;
  text-transform: capitalize;
  color: #b08968;
}

.work-wrapper .work .work-components .tabs-wrapper {
  display: flex;
  justify-content: center;
}

.work-wrapper .work .work-components .tabs-wrapper .tabs .tab {
  text-transform: uppercase;
  background-color: white;
  border-radius: 10px;
  margin-right: 1rem;
  font-weight: 700;
  border: none;
  color: black;
  padding: 12px 16px;
  height: 48px;
}

.work-wrapper .work .work-components .tabs-wrapper .tabs .tab:hover {
  background-color: #CB997E;
}

.work-wrapper .work .work-components .tabs-wrapper .tabs .tab:focus {
  background-color: #CB997E;
}

.work-wrapper .work .work-components .webs-wrapper {
  padding: 24px;
}

.work-wrapper .work .work-components .webs-wrapper .webs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 4rem;
}

.work-wrapper .work .work-components .webs-wrapper .webs .web {
  background-color: #f6f2f0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  flex: 0 0 25%;
  margin: 1rem;
  max-width: 21rem;
  min-width: 18rem;
  padding: 1rem 1.5rem;
  text-align: center;
  transition: 0.5s;
}

.work-wrapper .work .work-components .webs-wrapper .webs .web:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.work-wrapper .work .work-components .webs-wrapper .webs .web .iframe-wrapper {
  height: 185px;
  overflow: hidden;
  width: 100%;
}

.work-wrapper .work .work-components .webs-wrapper .webs .web .iframe-wrapper iframe {
  background-color: #fff;
  border-radius: 50px;
  width: 1400px;
  height: 800px;
  margin-left: -540px;
  margin-top: -285px;
  scale: .23;
}

.work-wrapper .work .work-components .webs-wrapper .webs .web .buttons-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: .5rem 0;
}

.work-wrapper .work .work-components .webs-wrapper .webs .web .buttons-wrapper a .button-img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #f0efeb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-wrapper .work .work-components .webs-wrapper .webs .web .buttons-wrapper a .button-img img {
  width: 150%;
  height: 150%;
}

.work-wrapper .work .work-components .webs-wrapper .webs .web .work-name {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
}

.work-wrapper .work .work-components .webs-wrapper .webs .web .work-desc {
  color: #b7b7a4;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.skill-wrapper {
  min-height: 100vh;
  padding-top: 6rem;
}

.skill-wrapper .skill .header {
  font-size: 3rem;
  font-weight: 800;
  margin: 1rem 0;
  text-align: center;
  text-transform: capitalize;
}

.skill-wrapper .skill .content {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 75rem;
}

.skill-wrapper .skill .content .framework-tool-container {
  margin-left: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-wrapper .skill .content .framework-tool-container .framework-tool {
  margin: 1rem .2rem;
  max-width: 34.1rem;
  padding: 5px;
  display: flex;
  align-items: center;
}

.skill-wrapper .skill .content .framework-tool-container .framework-tool .title {
  margin-right: 1rem;
  font-size: 1.3rem;
  width: 10rem;
}

.skill-wrapper .skill .content .framework-tool-container .framework-tool .framework-tool-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-height: 15.25rem;
  width: 28rem;
}

.skill-wrapper .skill .content .framework-tool-container .framework-tool .framework-tool-container .framework-tool-item {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.skill-wrapper .skill .content .framework-tool-container .framework-tool .framework-tool-container .framework-tool-item .display {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7e6dd;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin: 1rem 10px;
}

.skill-wrapper .skill .content .framework-tool-container .framework-tool .framework-tool-container .framework-tool-item .display .display-img {
  width: 70%;
  height: 70%;
}

.skill-wrapper .skill .content .timeline-container .timeline .dot-circle {
  border-radius: 50%;
  height: 1.5rem;
  margin-bottom: 10px;
  width: 1.5rem;
  overflow: hidden;
}

.skill-wrapper .skill .content .timeline-container .timeline .dot-circle .dot-circle-img {
  height: 100%;
  width: 100%;
}

.skill-wrapper .skill .content .timeline-container .timeline .MuiTimelineItem-root {
  padding: 6px 16px;
}

.skill-wrapper .skill .content .timeline-container .timeline .MuiTimelineItem-root .MuiTimelineContent-positionRight {
  min-width: 27.5rem;
  padding: 6px 16px;
  letter-spacing: 0.00938em;
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.skill-wrapper .skill .content .timeline-container .timeline .MuiTimelineItem-root .MuiTimelineContent-positionRight .company-name {
  color: #9c6644;
  font-size: 1.3rem;
  font-weight: 700;
}

.skill-wrapper .skill .content .timeline-container .timeline .MuiTimelineItem-root .MuiTimelineContent-positionRight .company-detail {
  color: #b07d62;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  margin: 10px 0;
}

.skill-wrapper .skill .content .timeline-container .timeline .MuiTimelineItem-root .MuiTimelineContent-positionRight .company-detail .position {
  font-size: 1rem;
}

.skill-wrapper .skill .content .timeline-container .timeline .MuiTimelineItem-root .MuiTimelineContent-positionRight .bullets {
  padding-left: 40px;
  font-size: .9375rem;
}

.contact-wrapper {
  padding-top: 6rem;
  min-height: 100vh;
}

.contact-wrapper .contact {
  height: 100%;
  width: 100%;
}

.contact-wrapper .contact .contact-content .contact-header {
  font-size: 3rem;
  font-weight: 800;
  margin: 1rem 0;
  text-align: center;
  text-transform: capitalize;
}

.contact-wrapper .contact .contact-content .contact-main {
  margin: 0 auto;
  width: 45rem;
}

.contact-wrapper .contact .contact-content .contact-main .button-group {
  display: flex;
  justify-content: space-between;
}

.contact-wrapper .contact .contact-content .contact-main .button-group .contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 2px solid #aa998f;
  border-radius: 5px;
  padding: 1rem 1rem 1rem 0;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
}

.contact-wrapper .contact .contact-content .contact-main .button-group .contact-button .contact-logo {
  height: 5rem;
  width: 5rem;
  background-color: #fff;
}

.contact-wrapper .contact .contact-content .contact-main .button-group .contact-button .contact-logo .contact-logo-img {
  height: 100%;
  opacity: .8;
  width: 100%;
}

.contact-wrapper .contact .contact-content .contact-main .button-group .contact-button .button-name {
  font-size: 23px;
  color: #a5a58d;
  background-color: #fff;
}

.contact-wrapper .contact .contact-content .contact-main .contact-form {
  margin-top: 2rem;
}

.contact-wrapper .contact .contact-content .contact-main .contact-form .contact-field {
  width: 100%;
  padding: 0.5rem 0;
}

.contact-wrapper .contact .contact-content .contact-main .contact-form .contact-field .inputbox {
  background-color: #f3e9dc;
  border: initial;
  border-radius: .5rem;
  box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
  height: 4rem;
  text-indent: 1.5rem;
  width: 100%;
}

.contact-wrapper .contact .contact-content .contact-main .contact-form .contact-field .inputbox:focus {
  outline: none;
}

.contact-wrapper .contact .contact-content .contact-main .contact-form .contact-field .inputbox::placeholder {
  color: rgba(133, 133, 133, 0.6);
}

.contact-wrapper .contact .contact-content .contact-main .contact-form .contact-field .input-textarea {
  background-color: #f3e9dc;
  border: none;
  border-radius: .5rem;
  box-shadow: 0 10px 36px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.06);
  font-family: serif;
  height: 10rem;
  text-indent: 1rem;
  width: 100%;
}

.contact-wrapper .contact .contact-content .contact-main .contact-form .contact-field .input-textarea:focus {
  outline: none;
}

.contact-wrapper .contact .contact-content .contact-main .contact-form .contact-field .input-textarea::placeholder {
  color: rgba(133, 133, 133, 0.6);
}

.contact-wrapper .contact .contact-content .contact-main .contact-form .contact-submit {
  background-color: #eddcd2;
  border: none;
  border-radius: 10px;
  color: #b98b73;
  font-size: 20px;
  margin: 2rem 0;
  padding: 1.5rem 3rem;
  width: 100%;
  transition: all 1s ease-in;
}

.contact-wrapper .contact .contact-content .contact-main .contact-form .contact-submit:hover {
  color: #c08552;
  cursor: pointer;
  transform: scale(1.2);
}
